<div class="row">
	<div class="col-xs-6 col-sm-4"></div>
	<div class="col-xs-6 col-sm-4 text-center">
		<h1>Aggiungi Sede</h1>
	</div>
	<!-- Optional: clear the XS cols if their content doesn't match in height -->
	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-6 col-sm-4"></div>
</div>
<br><br>
<div class="row">
	<div class="col-xs-6 col-sm-4"></div>
	<div class="col-xs-6 col-sm-4">
		<%= form_for(@office) do |f| %>
			<% if @office.errors.any? %>
			<ul>
			  <% @office.errors.full_messages.each do |msg| %>
			    <li><%= msg %></li>
			  <% end %>
			</ul>
			<% end %>
			<div class="form-group">
				<%= f.label :route, 'Partner', class:'h2' %>
				<p class="form-group-static"><%= @partner.name %></p>
			</div>
				<%= f.hidden_field :partner_id, value: @partner.id, class: 'form-control' %>
				
			<div class="form-group">
				<%= f.label :address, 'Indirizzo completo', class:'h3' %>
				<%= f.text_field :address, class: 'form-control', id: 'gmaps-input-address' %>
			</div>
			<%= f.submit "Salva Modifica", class: "btn btn-primary" %>
		<% end %>
	</div>
	<!-- Optional: clear the XS cols if their content doesn't match in height -->
	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-6 col-sm-4"></div>
</div>