<div class="row">
	<div class="col-xs-6 col-sm-4"></div>
	<div class="col-xs-6 col-sm-4 text-center">
		<h1>Modifica Partner</h1>
	</div>
	<!-- Optional: clear the XS cols if their content doesn't match in height -->
	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-6 col-sm-4"></div>
</div>
<br><br>
<div class="row">
	<div class="col-xs-6 col-sm-4"></div>
	<div class="col-xs-6 col-sm-4">
		<%= form_for(@partner) do |f| %>
			<div class="form-group">
				<%= f.label :name, 'Denominazione', class:'h3'%>
				<%= f.text_field :name, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :vat, 'Partita IVA / C.F.', class:'h3' %>
				<%= f.text_field :vat, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :website, 'Sito Web', class:'h3' %>
				<%= f.text_field :website, class: 'form-control' %>
			</div>
			<div class="form-group">
					<%= f.label :active, 'Partner Attivo', class:'h3' %>
					<%= f.check_box :active, {}, "true", "false"  %>
			</div>
			<%= f.submit "Salva Modifica", class: "btn btn-primary" %>
		<% end %>
	</div>
	<!-- Optional: clear the XS cols if their content doesn't match in height -->
	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-6 col-sm-4"></div>
</div>