<div class="row">
	<div class="col-xs-6 col-sm-4"></div>
	<div class="col-xs-6 col-sm-4 text-center">
		<h1>Partner</h1>
	</div>
	<!-- Optional: clear the XS cols if their content doesn't match in height -->
	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-6 col-sm-4"></div>
</div>
<br><br>
<div class="row">
	<div class="col-xs-6 col-sm-4"></div>
	<div class="col-xs-6 col-sm-4">
		<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th><%= link_to '#', :action => :index, :order_by => 'id' %></th>
					<th><%= link_to 'Denominazione', :action => :index, :order_by => 'name' %></th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>
				<% @partners.each do |partner| %>
		        	<tr>
						<td><%= partner.id %></td>
						<td><%= link_to partner.name, partner %></td>
						<td><small><%= partner.note %></small></td>
					</tr>
				<% end %>

			</tbody>
		</table>
		</div>
	</div>
	<!-- Optional: clear the XS cols if their content doesn't match in height -->
	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-6 col-sm-4"></div>
</div>
