<div class="row">
	<div class="col-xs-6 col-sm-4"></div>
	<div class="col-xs-6 col-sm-4 text-center">
		<h1>Representative</h1>
	</div>
	<!-- Optional: clear the XS cols if their content doesn't match in height -->
	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-6 col-sm-4"></div>
</div>
<br><br>
<div class="row">
	<div class="col-xs-6 col-sm-4"></div>
	<div class="col-xs-6 col-sm-4">
		<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th><%= link_to '#', :action => :index, :order_by => 'id' %></th>
					<th><%= link_to 'Partner', :action => :index, :order_by => 'name' %></th>
					<th><%= link_to 'Stipulata Il', :action => :index, :order_by => 'created_at' %></th>
				</tr>
			</thead>
			<tbody>
				<% @representatives.each do |representative| %>
		        	<tr>
						<td><%= link_to get_partner(representative).name, partner_path(get_partner(representative)) %></td>
						<td></td>
						<td><%= representative.created_at.strftime('%d/%m/%Y') %></td>
					</tr>
				<% end %>

			</tbody>
		</table>
		</div>
	</div>
	<!-- Optional: clear the XS cols if their content doesn't match in height -->
	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-6 col-sm-4"></div>
</div>
