<div class="row">
	<div class="col-xs-6 col-sm-4"></div>
	<div class="col-xs-6 col-sm-4 text-center">
		<h1>Aggiungi Partnership</h1>
	</div>
	<!-- Optional: clear the XS cols if their content doesn't match in height -->
	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-6 col-sm-4"></div>
</div>
<br><br>
<div class="row">
	<div class="col-xs-6 col-sm-4"></div>
	<div class="col-xs-6 col-sm-4">
		<%= form_for(@partnership) do |f| %>
			<% if @partnership.errors.any? %>
			<ul>
			  <% @partnership.errors.full_messages.each do |msg| %>
			    <li><%= msg %></li>
			  <% end %>
			</ul>
			<% end %>
				<%= f.hidden_field :partner_id, value: @partner.id, class: 'form-control' %>
				<%= f.hidden_field :office_id, value: @office.id, class: 'form-control' %>
				<div class="form-group">
					<%= f.label :route, 'Partner', class:'h3' %>
					<p class="form-group-static"><%= @partner.name %></p>
				</div>
				<div class="form-group">
				<%= f.label :route, 'Sede', class:'h3' %>
				<p class="form-control-static"><%= @office.address %></p>
			</div>
			<div class="form-group">
				<%= f.label :signing_date, 'Data stipula', class:'h3' %>
				<%= f.text_field :signing_date, class: 'form-control', :data => { :provide => 'datepicker', 'language' => 'it', 'date-format' => 'dd/mm/yyyy' }, :value => @partnership.try(:signing_date).try(:strftime,'%d/%m/%Y') %>
			</div>
			<%= f.submit "Salva Modifica", class: "btn btn-primary" %>
		<% end %>
	</div>
	<!-- Optional: clear the XS cols if their content doesn't match in height -->
	<div class="clearfix visible-xs-block"></div>
	<div class="col-xs-6 col-sm-4"></div>
</div>